# ==========================================
# Internship Scraper - Local Configuration Target
# ==========================================

# Core Execution Constraints
ENABLE_SUBMIT=False
MAX_APPLICATIONS_PER_RUN=3
BLACK_LIST_KEYWORDS="enter,the,keywords,you,don't,want,inside quotes"
SEARCH_URL_INTERNSHALA=enter_your_internshala_url
TARGET_PLATFORM=which_platform_do_you_want
# Input Layer Mapping
RESUME_FILENAME=resume.pdf

